@import 'backgrounds.scss';
@import 'hovers.scss';
@import 'mixins.scss';

// Global SCSS
body {
  background-image: url("../assets/images/Capitol-Dome-Night-Light-Blur.jpg");
}

// Home SCSS
.topArrange {

}

.capHillIcon {
  margin-left: 2%;
  margin-top: 1%;
  height: 60px;
  @include mmQ(1024px) {
  }
}

.site-name {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.main-select {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 4%;
  height: 230px;
  width: 340px;
  background-color: #e4e6e7;
  border-radius: 5px;
  h2 {
    margin-left: 30px;
  }
  @include mmQ(1024px) {
    margin: 0 auto;
    margin-top: 10%;
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  select {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 7%;
    margin-left: 30px;
  }
  button {
    color: white;
    height: 35px;
    width: 100px;
    border: 1px #e4e6e7 solid;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 16px;
    background-color: #008CBA;
  }
}

#firstButton {
  margin-top: 1%;
}

.show {
  transition: .3s linear;
  display: flex;
  opacity: 1;
}

.hide {
  transition: .3s linear;
  opacity: 0;
  height: 0;
}

.secondRound {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @include mQ(1024px) {
    flex-direction: row;
  }
}

.congress-layout {
  .card {
    display: flex;
    border-radius: 4px;
    background-color: #e4e6e7;
    transition: 0.1s;
    cursor: pointer;
    margin-top: 5%;
    @include mmQ(1024px) {
      margin-bottom: 7%;
    }
    img {
      height: 100px;
      border-radius: 4px 0 0 4px;
    }
  }
  .card:active {
    transform: scale(1.04);
  }
  .card-container {
    // padding: 20px;
  }
}

.submitButton {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  // Correct the below later. The margin-bottom percentages. Artificially bloats the background image on small screen to cover up white space.
  margin-bottom: 80%;
  @include mQ(1024px) {
    margin-bottom: 30%;
  }
}

// Navbar SCSS
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
  a {
    text-decoration: none;
    color: white;
  }
}

// Results/Article SCSS
.resultsPage {
  color: white;
}

.news-layout {
  padding-top: 10%;
  @include mQ(1024px) {
    padding-top: 5%;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  .articleLink {
    margin: 5%;
    margin-right: 50px;
    width: 350px;
    background-color: #e4e6e7;
    border-radius: 4px;
    transition: 0.3s;
    img {
      width: 350px;
      height: 250px;
      border-radius: 4px 4px 0 0;
      object-fit: cover;
    }
  }
  .articleLink:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
  .article-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}


// Error404 SCSS
.errorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  a {
    color: turquoise;
  }
}
