@import 'backgrounds.scss';
@import 'hovers.scss';
@import 'mixins.scss';

// Global SCSS
body {
  background-image: url("../assets/images/Internal-Columns.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

img:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

// Home SCSS
.topArrange {
  display: flex;
  h1 {
    margin-top: 2%;
  }
}

.capHillIcon {
  margin-left: 20px;;
  margin-top: 20px;
  height: 60px;
  @include mmQ(1024px) {
  }
}

.site-name {
  font-family: 'Open Sans', sans-serif;  
  color: white;
  font-size: 45px;
  margin: 0 auto;
  text-align: center;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em black;
}

.main-select {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 8%;
  height: 245px;
  width: 340px;
  background-color: #e4e6e7;
  border-radius: 5px;
  h2 {
    margin-left: 30px;
    margin-right: 10px;
  }
  @include mmQ(1024px) {
    margin: 0 auto;
    margin-top: 10%;
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  select {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 7%;
    margin-left: 30px;
  }
  button {
    color: white;
    height: 35px;
    width: 100px;
    border: 1px #e4e6e7 solid;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 16px;
    background-color: #008CBA;
  }
}

#firstButton {
  margin-top: 1%;
}

.show {
  transition: .3s linear;
  display: flex;
  opacity: 1;
}

.hide {
  transition: .3s linear;
  opacity: 0;
  height: 0;
}

.secondRound {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: white;
    font-size: 18px;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
  }
  @include mQ(1024px) {
    background-color: black;
    height: 100%;
    width: 440px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    overflow-x: hidden;
  }
}

#rep-text {
  @include mQ(1024px) {
    margin-top: 5%;
  }
}

.cardLanding {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.congress-layout {
  p {
    color: black;
  }
  .card {
    display: flex;
    border-radius: 4px;
    background-color: #e4e6e7;
    transition: 0.1s;
    cursor: pointer;
    margin-bottom: 5%;
    @include mmQ(1024px) {
      margin-bottom: 7%;
    }
    img {
      height: 110px;
      border-radius: 4px 0 0 4px;
    }
  }
  .card:active {
    transform: scale(1.04);
  }
  .card-container {
    padding-right: 5px;
  }
}

.home-input {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  form {
    margin-top: 15%;
  }
  span {
    margin: 0 auto;
  }
  @include mQ(1024px) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.issueMaster {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.issueBox {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 150px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
  @include mQ(1024px) {
    width: 180px;
    height: 115px;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-shadow:
    0.1em 0 black,
    0 0.1em black,
    -0.1em 0 black,
    0 -0.1em black;
    text-align: center;
  }
  .issueBox:active {
    transform: scale(1.04);
  }
}

#healthcare {
  background-image: url('../assets/images/Healthcare.jpeg');
  background-size: cover;
}

#infrastructure {
  background-image: url('../assets/images/Infrastructure.jpeg');
  background-size: cover;
}

#foreign-policy {
  background-image: url('../assets/images/Foreign-Policy.jpeg');
  background-size: cover;
}

#technology {
  background-image: url('../assets/images/Technology.jpeg');
  background-size: cover;
}

#climate-change {
  background-image: url('../assets/images/Climate-Change.jpeg');
  background-size: cover;
}

#trade-policy {
  background-image: url('../assets/images/Trade-Policy.jpeg');
  background-size: cover;
}

.submitButton {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include mQ(1024px) {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10%;
  }
  h1 {
    position: absolute;
    top: 5vw;
    font-size: 45px;
    color: white;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
    @include mQ(1024px) {
      position: fixed;
      top: 100px;
    }
  }
  button {
    margin-top: 25%;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 28px;
    text-shadow: 2px 2px black;
    background-color: #f47a41;
    @include mQ(1024px) {
      margin-top: 200px;
    }
  }
}

#secondButton {

}

// Navbar SCSS
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
  z-index: 2;
  a {
    text-decoration: none;
    color: white;
  }
}

// Results/Article SCSS
.resultsPage {
  color: white;
}

.news-layout {
  padding-top: 10%;
  @include mQ(1024px) {
    padding-top: 5%;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  .articleLink {
    margin: 5%;
    margin-right: 50px;
    width: 350px;
    background-color: #e4e6e7;
    border-radius: 4px;
    transition: 0.3s;
    a {
      text-decoration: none;
      color: black;
    }
    img {
      width: 350px;
      height: 250px;
      border-radius: 4px 4px 0 0;
      object-fit: cover;
    }
  }
  .articleLink:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
  .article-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}


// Error404 SCSS
.errorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  a {
    color: turquoise;
  }
}
